mysql_container
Outros_projetos/AutoBaixarArtigosTeste
minha casa se estivesse chovendo picareta de diamante.png
.env
venv/
.vscode/
.DS_Store
Exercicios_py\06_Django_session\venv
ambiente
# Created by venv; see https://docs.python.org/3/library/venv.html

